@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scrollbar-width: none;
  color: #fff;
}

body {
  background-color: rgb(0, 0, 0);
  
}
#TaskList::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
 } 
